appdirs==1.4.4
audioread==2.1.9
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
decorator==5.1.1
idna
joblib==1.1.0
librosa==0.9.2
llvmlite
numba
numpy
packaging==21.3
pooch==1.6.0
pycparser==2.21
pyparsing==3.0.9
pysndfx==0.3.6
requests
resampy==0.3.1
scikit-learn
scipy
SoundFile==0.10.3.post1
threadpoolctl==3.1.0
urllib3
praat-parselmouth